# Cloudinary Configuration
# Replace these values with your actual Cloudinary credentials
CLOUDINARY_CLOUD_NAME=dr6crhham
CLOUDINARY_API_KEY=712557573888213
CLOUDINARY_API_SECRET=eKoN0tAMCCNMnXtxiFdOsHDP69Y
